.container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  top: 42px;
  padding: 270px 0px 270px 0px;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  opacity: 0;
  transition: opacity 1.5s ease;
  z-index: -1;
}

.image.visible {
  opacity: 1;
}

.content {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 20px;
}

.content h1 {
  color: var(--background);
  font-size: 65px;
  letter-spacing: -1px;
  max-width: 700px;
  line-height: 80px;
}

.content p {
  color: var(--background);
  font-size: 24px;
  font-weight: 600px;
  text-wrap: balance;
  line-height: 40px;
  max-width: 600px;
}

@media (max-width: 1000px) {
  .container {
    padding: 180px 0px 50px 0px;
  }
  .content {
    flex-direction: column;
    row-gap: 30px;
  }
}

@media (max-width: 768px) {
  .content h1 {
    font-size: 45px;
    letter-spacing: -0.5px;
    line-height: 60px;
    text-wrap: balance;
    text-align: center;
  }

  .content p {
    width: 100%;
    max-width: 100%;
    font-size: 18px;
    text-wrap: balance;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 130px 0px 50px 0px;
  }

  .content h1 {
    font-size: 40px;
    line-height: 55px;
    text-wrap: balance;
    text-align: start;
  }

  .content p {
    line-height: 35px;
    text-align: start;
  }
}
