:root {
  --background: #ffffff;
  --green: #00d757;
  --red: #ff3d00;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* scrollbar-width: none; */
}

body {
  background: #eeeeee;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}
