.container {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
  background-image: url('./../../assets/images/bgMisc.svg');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.content {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.content img {
  width: 250px;
  height: auto;
  border-radius: 50%;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  line-height: 28px;
}

.text p {
  color: #666666;
}
