.container {
  width: 100%;
  min-height: 100dvh;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./../../../assets/images/login.webp');
  background-size: cover;
  background-position: center center;
  position: relative;
}

.container .back_button {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px;
}

.container .back_button a {
  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
  color: var(--background);
  display: flex;
  align-items: center;
  gap: 10px;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_form {
  width: 90%;
  max-width: 400px;
  background: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 20px 20px 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.089);
}

.container_form img {
  width: 130px;
  height: auto;
  border-radius: 50%;
  margin-top: -90px;
  border: 5px solid white;
}

.container_form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container_form form label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: rgb(43, 43, 43);
  font-weight: 500;
  font-size: 13px;
  width: 100%;
}

.container_form form input {
  width: 100%;
  padding: 15px 15px;
  border-radius: 10px;
  font-family: inherit;
  background: transparent;
  border: 1px solid var(--green);
  color: black;
  text-align: start;
}

.container_form form .button {
  width: 100%;
  background: var(--green);
  color: var(--background);
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  padding: 15px 0px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_container {
  position: relative;
}

.togglePassword {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  height: 100%;
  padding: 0 15px;
}

.recovery_button {
  width: 100%;
  text-align: end;
  font-size: 13px;
  font-family: inherit;
}

.container_form .link {
  width: 100%;
  text-align: center;
  font-size: 13px;
  font-family: inherit;
}

.info {
  font-size: 15px;
  background: #c6f6d5;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  border-radius: 6px;
}

.info span {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 6px;
}

.info p {
  font-size: 13px;
  line-height: 25px;
}

.container_form small {
  text-align: center;
  margin-top: -10px;
  line-height: 18px;
  color: red;
}

.backLogin {
  font-family: inherit;
  font-size: 13px;
}

@media (max-width: 500px) {
  .container {
    padding: 100px 0px 50px 0px;
  }
  .container .back_button {
    padding: 20px 10px;
  }

  .container .back_button a {
    font-size: 16px;
    gap: 5px;
  }
}
